<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" media="all" href="css/style.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <h1>{{.UserName}}さんでお間違いないですか</h1>
    <form action="/confirmation" method="post">
        <button class="btn01">確認</button>
    </form>
    <br>
    <form action="/qrcode" method="get">
        <button class="btn01">再読み込み</button>
    </form>
</body>

</html>
