<head>
	<meta charset="UTF-8">
	<meta name="description" content="2024/10/13,15:00から">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2024年10月13日 朝倉家 結婚式</title>
	<link rel="stylesheet" media="all" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	
	<nav id="mainnav">
		<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
		<div class="panel">
			<ul>
				<li><a href="#header">TOP</a></li>
				<li><a href="#sec01">GREETING</a></li>
				<li><a href="/signup">SIGNUP</a></li>
				<li><a href="/login">LOGIN</a></li>
				<li><a href="#sec03">TIMESCHEDULE</a></li>
				<li><a href="#sec04">ACCESS</a></li>
				<li><a href="#sec05">PROFILE</a></li>
			</ul>
		</div>
	</nav>

	<header id="header">
		<img src="images/hedder12.jpg" alt="Heder Image">
	</header>

	<!-- VISION -->
	<section id="sec01">
			<h2>GREETING</h2>
		<center><img src="images/greeting.png"></center>
		<br>
	</section>
	<!-- // VISION -->

	<section id="sec02">
		<div class="wrap">
			<div class="txt">
				<div class="vMid">
					<h2>SIGN UP</h2>
					<center><p class="signupMessage">下記ボタンより<br>出席もしくは欠席の登録をお願いいたします</p>
					<p class="signupMessage">誠に恐れ入りますが<strong>9月12日まで</strong>に<br>ご返信くださいますよう<br>よろしくお願い申し上げます</p></center>
					<br>
					<div style="display: flex; justify-content: center; gap: 20px;"> <!-- Flexbox container -->
						<form action="/signup" method="get">
							<button class="btn01">出席登録</button>
						</form>
						<form action="/absence" method="get">
							<button class="btn01">欠席登録</button>
						</form>
					</div>
				</div>
			</div>
			</div>
	</section>
	<section id="sec02">
		<div id="sec02_02" class="wrap">
			<div class="txt">
				<div class="vMid">
					<h2>LOGIN</h2>
					<center><p class="signupMessage">【出席登録された方】<br>出席QRコードを表示 / 登録情報の変更</p></center>
					<br>
					<form action="/login" method="get">
					<center><button class="btn01">Login</button></center>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	<!-- SERVICE -->
	<section id="sec03">
		
        <div class="inner">
            <h2>TIME TABLE</h2>
            <ul class="col3">
                <li><img src="images/TimeTable.png" alt="TimeTable"></li>
            </ul>
        </div>
    </section>
	<!-- // SERVICE -->

	<!-- STORY --> 
	<section id="sec04">
		<div class="inner">
			<ul class="col3">
				<center><h2>ACCESS</h2></center>
				<center><p>当日は15:00までにご来館くださいますよう<br>よろしくお願い申し上げます</p></center>
			<li>
				<h2>無料シャトルバス</h2>
				<img src="images/Bus.jpg">
				<p><center>シャトルバスを手配しておりますので<br>そちらにご乗車いただくのがおすすめです<br>利用される方は出席登録をされる際に<br>「シャトルバスを利用する」に<br>チェックをお願いいたします</center></p>
				<br>
				
				<center><button class="btn01" onclick="location.href='https://drive.google.com/file/d/1BQpL60yCsgLp6Sbmpnexl6GduYDbAtUe/view?pli=1';">詳細</button></center>
				
				</li>
			<li>
				<h2>TAXI</h2>
				<img src="images/Taxi.jpg">
				<center><p>広島駅から20分ほどで到着します</p></center>
			</li>
			</ul>
		</div>
	</section>
	<!-- // STORY -->

	<!-- PROFILE -->
	<section id="sec05">
		<header>
			<h2>PROFILE</h2>
		</header>
		<div class="inner">
			<ul class="col2">
				<li>
					<dl>
						<dt>式場</dt>
						<dd>海辺のガーデンハウス リーベリア</dd>
						<dt>日にち</dt>
						<dd>2024年10月13日(日)</dd>
						<dt>挙式</dt>
						<dd>15:30〜16:00</dd>
						<dt>披露宴</dt>
						<dd>16:30〜19:00</dd>
						<dt>住所</dt>
						<dd>広島県広島市南区元宇品町25-5</dd>
						<dt>HP</dt>
						<dd><p><a href="https://lieberia.com/" target="_blank">リーベリア</a></p></dd>
					</dl>
				</li>
				<li>
					<div id="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.108537265974!2d132.45610477572916!3d34.34771567304707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355aa3c3c89333e3%3A0x368d72351398a58f!2z44Oq44O844OZ44Oq44Ki!5e0!3m2!1sja!2sjp!4v1706191016734!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section id="sec04">
		<div class="inner">
			<ul class="col3">
				<center><h2>CONTACT</h2></center>
				<li>
					<center><p>不明点 / サイト内でのエラー<br>などありましたら<br>お気軽に以下のLINEから<br>お問い合わせください<br></p></center>
<br>
					<center><p>新郎LINE</p></center><br>
					<center><img src="images/LINEQRCODE.jpeg"></center>
					<center><p>新婦へ連絡していただいても構いません</p></center>
				</li>
			</ul>
		</div>
	</section>

</body>
</html>