<head>
	<meta charset="UTF-8">
	<meta name="description" content="2024/10/13,15:00から">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>のぞみちゃん結婚式</title>
	<link rel="stylesheet" media="all" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
	</head>
	
<nav id="mainnav">
	<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
	<div class="panel">
		<ul>
			<li><a href="#header">TOP</a></li>
			<li><a href="#sec01">GREETING</a></li>
			<li><a href="/signup">SIGNUP</a></li>
			<li><a href="/login">LOGIN</a></li>
			<li><a href="#sec03">TIMESCHEDULE</a></li>
			<li><a href="#sec04">ACCESS</a></li>
			<li><a href="#sec05">PROFILE</a></li>
		</ul>
	</div>
</nav>

<header id="header">
	<img src="images/Hedder.jpg" alt="Heder Image">
	<div id="slogan">
		<h1>Comming Soon</h1>
		<h2>望ちゃん</h2>
	</div>
</header>

<!-- VISION -->
<section id="sec01">
	<header>
		<h2>GREETING</h2>
	</header>
	<div class="vision">
		<center>謹啓<br>
		<br>
		清秋の候<br>
		<br>
		皆様には益々ご清祥のこととお慶び申し上げます<br>
		このたび 私たちは結婚式を挙げることとなりました<br>
		つきましては ささやかな披露宴を催したいと存じます<br>
		<br>
		ご多用のところ誠に恐縮ではございますが<br>
		ふたりのために励ましをいただきたく<br>
		ぜひご出席くださいますよう心よりご案内申し上げます<br></center>	
	</div>
</section>
<!-- // VISION -->

<!-- MESSAGE -->
<section id="sec02">
	<div class="wrap">
		<p class="bg"><img src="images/sec02_01.jpg" alt=""></p>
		<div class="txt">
			<div class="vMid">
				<h2>SIGN UP</h2>
				<p>出席登録。初めての方はこちら。オンラインで出欠席を登録できます。</p>
				<form action="/signup" method="get">
				<center><button class="btn01">出席登録をする</button></center>
				</form>
			</div>
		</div>
	</div>
	<div id="sec02_02" class="wrap">
		<p class="bg"><img src="images/sec02_02.jpg" alt=""></p>
		<div class="txt">
			<div class="vMid">
				<h2>LOGIN</h2>
				<p>出席QRコードを出す。出席登録をされた方で情報を変更する。</p>
				<form action="/login" method="get">
				<center><button class="btn01">Loginする</button></center>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- // MESSAGE -->

<!-- SERVICE -->
<section id="sec03">
	<div class="inner">
		<ul class="col3">
			<li>
				<h2>挙式</h2>
				<img src="images/circleImg01.png" width="288" height="288" alt="">
				<p><center>人前式。15:30〜16:00</center></p>
			</li>
			<li>
				<h2>披露宴</h2>
				<img src="images/circleImg02.png" width="288" height="288" alt="">
				<p>料理オリンピック金メダリストの料理が出てくる。16:00〜19:00</p>
			</li>
		</ul>
	</div>
</section>
<!-- // SERVICE -->

<!-- STORY --> 
<section id="sec04">
	<div class="inner">
		<ul class="col3">
			<center><h2>ACCESS</h2></center>
			<li>
				<h2>無料シャトルバス</h2>
				<p>シャトルバスを手配していますのでそちらにご乗車いただくのがおすすめです<br>時間：14:40</p>
			</li>
			<li>
				<h2>TAXI</h2>
				<p>広島駅から20分ほどで到着します。<br>リッチな方はどうぞ<br>住所：広島県広島市南区元宇品町 25 - 5</p>
			</li>
		</ul>
	</div>
</section>
<!-- // STORY -->

<!-- PROFILE -->
<section id="sec05">
	<header>
		<h2>PROFILE</h2>
	</header>
	<div class="inner">
		<ul class="col2">
			<li>
				<dl>
					<dt>式場</dt>
					<dd>リーベリア</dd>
					<dt>挙式</dt>
					<dd>15:30〜16:00</dd>
					<dt>披露宴</dt>
					<dd>16:00〜19:00</dd>
					<dt>住所</dt>
					<dd>広島県広島市南区元宇品町 25 - 5</dd>
					<dt>HP</dt>
					<dd><p><a href="https://lieberia.com/" target="_blank">リーベリア</a></p></dd>
				</dl>
			</li>
			<li>
				<div id="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3294.108537265974!2d132.45610477572916!3d34.34771567304707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355aa3c3c89333e3%3A0x368d72351398a58f!2z44Oq44O844OZ44Oq44Ki!5e0!3m2!1sja!2sjp!4v1706191016734!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</li>
		</ul>
	</div>
</section>


</body>
</html>