
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" media="all" href="css/signup.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/signup.js"></script>
    <script>
        $(document).ready(function() {
            $('#updateForm').on('submit', function(event) {
                event.preventDefault(); // フォームのデフォルトの送信を防ぐ
    
                var formData = $(this).serialize(); // フォームデータをシリアライズ
    
                $.ajax({
                    url: '/infoUpDate', // フォームデータを送信するURL
                    type: 'POST',
                    data: formData,
                    dataType: 'json', // サーバーからのレスポンスをJSONとして扱う
                    success: function(response) {
                        if (response.message) {
                            alert(response.message); // 成功メッセージを表示
                            window.location.href = '/'; // index.html へ遷移
                        } else if (response.ErrorCode_UpDateHandler1) {
                            alert(response.ErrorCode_UpDateHandler1); // エラーメッセージを表示
                        } else if (response.ErrorCode_UpDateHandler2) {
                            alert(response.ErrorCode_UpDateHandler2); // エラーメッセージを表示
                        } else if (response.ErrorCode_UpDateHandler3) {
                            alert(response.ErrorCode_UpDateHandler3); // エラーメッセージを表示
                        } else if (response.ErrorCode_UpDateHandler4) {
                            alert(response.ErrorCode_UpDateHandler4); // エラーメッセージを表示
                        }
                    },
                    error: function(xhr, status, error) {
                        alert("An error occurred: " + error); // サーバーからのエラーメッセージを表示
                    }
                });
            });
        });
    </script>
</head>

<body>
    <center><h1>ようこそ, {{.UserName}}さん</h1></center>
    
    <center><img src="QRCode/{{ .Img }}" alt="QR Code"></center>
    <br>
    <br>
    <center><h1>現在の情報照会と更新</h1></center>
    <br>
    <center><h3>変更点のみ入力してください</h3></center>
    <form id="updateForm" action="/infoUpDate" method="post">
        <div class="Form">
            <div class="Form-Item">
                <p class="Form-Item-Label">
                    どちら側か<br>
                    タップで切り替えられます
                </p>
                {{ if .MenOrWomenInfo }}
                    <h3>現在 : 新郎側</h3>
                    <label class="toggle-button-4">
                        <input type="checkbox" name="morw" checked/>
                    </label>
                {{ else }}
                    <h3>現在 : 新婦側</h3>
                    <label class="toggle-button-4">
                        <input type="checkbox" name="morw"/>
                    </label>
                {{ end }}
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label">
                    氏名
                </p>
                <h3>現在 : {{ .UserName }}</h3>
                <input type="text" class="Form-Item-Input" id="newUsername" name="username">
                <br>
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label">
                    電話番号 : 変更不可<br>
                </p>
                <center><h3 name="phoneNumber">{{ .PhoneNumber }}</h3></center>
                <input type="hidden" name="phoneNumber" value="{{ .PhoneNumber }}">
            <div class="Form-Item">
                <p class="Form-Item-Label">
                    アレルギー情報
                </p>
                <h3>現在 : {{ .AllergyInfo }}</h3>
                <textarea class="Form-Item-Textarea" id="AllergyInfo" name="allergyInfo"></textarea><br>
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label">
                    同伴者<br>
                    (ご年配の方が一緒にご出席していただけるなど)
                </p>
                <h3>現在 : {{ .Companion }}</h3>
                <br>
                <center><div class="spinner-container">
                    <span class="spinner-sub disabled">-</span>
                    <input class="spinner" type="number" min="0" max="20" value="{{ .Companion}}" name="companion">
                    <span class="spinner-add">+</span>
                </div>
                </center>
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label">
                    無料シャトルバス
                </p>
                {{if .ByBusFlag}}
                <h3>現在：利用する</h3>
                <label style="display: block; text-align: center;">
                <input type="checkbox" name="bybus" checked/>
                    無料シャトルバスを利用する
                </label>
                {{else}}
                <h3>現在：利用しない</h3>
                <label style="display: block; text-align: center;">
                    <input type="checkbox" name="bybus"/>
                        無料シャトルバスを利用する
                    </label>
                {{ end }}

            </div>
            <h3>電話番号を変更する場合は新しく新規登録でアカウントを作ってください。</h3>
            <input type="submit" class="Form-Btn" value="情報を更新する">
        </div>
    </form>
</body>    